In [81]:
import pandas as pd
import requests
import json
import numpy as np

In [3]:
league_code=input("Enter league code")

Enter league code36072

In [4]:
url='https://fantasy.premierleague.com/api/leagues-classic/'+league_code+'/standings/?page_new_entries=1&page_standings=1&phase=1'

In [77]:
url

'https://fantasy.premierleague.com/api/leagues-classic/36072/standings/?page_new_entries=1&page_standings=1&phase=1'

In [6]:
response=requests.get(url)

In [8]:
response.content

b'{"league":{"id":36072,"name":"Prime Classic","created":"2020-08-15T14:25:02.513599Z","closed":false,"max_entries":null,"league_type":"x","scoring":"c","admin_entry":180467,"start_event":1,"code_privacy":"p","has_cup":false,"cup_league":null,"rank":null},"new_entries":{"has_next":false,"page":1,"results":[]},"standings":{"has_next":false,"page":1,"results":[{"id":2577854,"event_total":48,"player_name":"pramod wagle","rank":1,"last_rank":1,"rank_sort":1,"total":1749,"entry":514642,"entry_name":"Aubameyang FC"},{"id":19600580,"event_total":40,"player_name":"sandesh thapa","rank":2,"last_rank":2,"rank_sort":2,"total":1739,"entry":1875196,"entry_name":"\xe0\xa4\xa4\xe0\xa4\xbf\xe0\xa4\xae\xe0\xa5\x80 \xe0\xa4\xa8\xe0\xa5\x88 \xe0\xa4\xad\xe0\xa4\xa8\xe0\xa4\xbf\xe0\xa4\xa6\xe0\xa5\x87\xe0\xa4\x89"},{"id":8161306,"event_total":77,"player_name":"Abhi Khatiwada","rank":3,"last_rank":5,"rank_sort":3,"total":1721,"entry":1495715,"entry_name":"Yo Samjhine Man Xa"},{"id":28074527,"event_total":61,"player_name":"Hac Ker","rank":4,"last_rank":3,"rank_sort":4,"total":1720,"entry":4494293,"entry_name":"\xe0\xa4\xae \xe0\xa4\xac\xe0\xa4\xbf\xe0\xa4\xb0\xe0\xa5\x8d\xe0\xa4\xb8\xe0\xa5\x81 \xe0\xa4\x95\xe0\xa4\xb8\xe0\xa5\x8b\xe0\xa4\xb0\xe0\xa5\x80"},{"id":863311,"event_total":51,"player_name":"Pratik Ghimire","rank":5,"last_rank":4,"rank_sort":5,"total":1705,"entry":180467,"entry_name":"Captain Feralldes"},{"id":9903578,"event_total":43,"player_name":"Shradaya Ramtel","rank":6,"last_rank":6,"rank_sort":6,"total":1665,"entry":1687067,"entry_name":"FCB"},{"id":1571901,"event_total":25,"player_name":"Upendra Khanal","rank":7,"last_rank":7,"rank_sort":7,"total":1595,"entry":320738,"entry_name":"TNxRedDeviLs"},{"id":7456330,"event_total":38,"player_name":"Abhishek Aryal","rank":8,"last_rank":8,"rank_sort":8,"total":1576,"entry":1375634,"entry_name":"Hergu lama"},{"id":945950,"event_total":34,"player_name":"Nischal Shrestha","rank":9,"last_rank":9,"rank_sort":9,"total":1538,"entry":196773,"entry_name":"Toxic Squad"},{"id":10416087,"event_total":39,"player_name":"Swatantra Manandhar","rank":10,"last_rank":10,"rank_sort":10,"total":1344,"entry":1866679,"entry_name":"Mdhr_Chimse"},{"id":17170974,"event_total":37,"player_name":"Bigya Karki","rank":11,"last_rank":11,"rank_sort":11,"total":1284,"entry":2943518,"entry_name":"karki009cfc"},{"id":15873836,"event_total":21,"player_name":"sweekrit dahal","rank":12,"last_rank":12,"rank_sort":12,"total":1202,"entry":2744269,"entry_name":"Mylord333"}]}}'

In [11]:
response=json.loads(response.content)

In [12]:
response

{'league': {'id': 36072,
  'name': 'Prime Classic',
  'created': '2020-08-15T14:25:02.513599Z',
  'closed': False,
  'max_entries': None,
  'league_type': 'x',
  'scoring': 'c',
  'admin_entry': 180467,
  'start_event': 1,
  'code_privacy': 'p',
  'has_cup': False,
  'cup_league': None,
  'rank': None},
 'new_entries': {'has_next': False, 'page': 1, 'results': []},
 'standings': {'has_next': False,
  'page': 1,
  'results': [{'id': 2577854,
    'event_total': 48,
    'player_name': 'pramod wagle',
    'rank': 1,
    'last_rank': 1,
    'rank_sort': 1,
    'total': 1749,
    'entry': 514642,
    'entry_name': 'Aubameyang FC'},
   {'id': 19600580,
    'event_total': 40,
    'player_name': 'sandesh thapa',
    'rank': 2,
    'last_rank': 2,
    'rank_sort': 2,
    'total': 1739,
    'entry': 1875196,
    'entry_name': 'तिमी नै भनिदेउ'},
   {'id': 8161306,
    'event_total': 77,
    'player_name': 'Abhi Khatiwada',
    'rank': 3,
    'last_rank': 5,
    'rank_sort': 3,
    'total': 1721,
    'entry': 1495715,
    'entry_name': 'Yo Samjhine Man Xa'},
   {'id': 28074527,
    'event_total': 61,
    'player_name': 'Hac Ker',
    'rank': 4,
    'last_rank': 3,
    'rank_sort': 4,
    'total': 1720,
    'entry': 4494293,
    'entry_name': 'म बिर्सु कसोरी'},
   {'id': 863311,
    'event_total': 51,
    'player_name': 'Pratik Ghimire',
    'rank': 5,
    'last_rank': 4,
    'rank_sort': 5,
    'total': 1705,
    'entry': 180467,
    'entry_name': 'Captain Feralldes'},
   {'id': 9903578,
    'event_total': 43,
    'player_name': 'Shradaya Ramtel',
    'rank': 6,
    'last_rank': 6,
    'rank_sort': 6,
    'total': 1665,
    'entry': 1687067,
    'entry_name': 'FCB'},
   {'id': 1571901,
    'event_total': 25,
    'player_name': 'Upendra Khanal',
    'rank': 7,
    'last_rank': 7,
    'rank_sort': 7,
    'total': 1595,
    'entry': 320738,
    'entry_name': 'TNxRedDeviLs'},
   {'id': 7456330,
    'event_total': 38,
    'player_name': 'Abhishek Aryal',
    'rank': 8,
    'last_rank': 8,
    'rank_sort': 8,
    'total': 1576,
    'entry': 1375634,
    'entry_name': 'Hergu lama'},
   {'id': 945950,
    'event_total': 34,
    'player_name': 'Nischal Shrestha',
    'rank': 9,
    'last_rank': 9,
    'rank_sort': 9,
    'total': 1538,
    'entry': 196773,
    'entry_name': 'Toxic Squad'},
   {'id': 10416087,
    'event_total': 39,
    'player_name': 'Swatantra Manandhar',
    'rank': 10,
    'last_rank': 10,
    'rank_sort': 10,
    'total': 1344,
    'entry': 1866679,
    'entry_name': 'Mdhr_Chimse'},
   {'id': 17170974,
    'event_total': 37,
    'player_name': 'Bigya Karki',
    'rank': 11,
    'last_rank': 11,
    'rank_sort': 11,
    'total': 1284,
    'entry': 2943518,
    'entry_name': 'karki009cfc'},
   {'id': 15873836,
    'event_total': 21,
    'player_name': 'sweekrit dahal',
    'rank': 12,
    'last_rank': 12,
    'rank_sort': 12,
    'total': 1202,
    'entry': 2744269,
    'entry_name': 'Mylord333'}]}}

In [16]:
response.keys()

dict_keys(['league', 'new_entries', 'standings'])

In [20]:
response['standings']

{'has_next': False,
 'page': 1,
 'results': [{'id': 2577854,
   'event_total': 48,
   'player_name': 'pramod wagle',
   'rank': 1,
   'last_rank': 1,
   'rank_sort': 1,
   'total': 1749,
   'entry': 514642,
   'entry_name': 'Aubameyang FC'},
  {'id': 19600580,
   'event_total': 40,
   'player_name': 'sandesh thapa',
   'rank': 2,
   'last_rank': 2,
   'rank_sort': 2,
   'total': 1739,
   'entry': 1875196,
   'entry_name': 'तिमी नै भनिदेउ'},
  {'id': 8161306,
   'event_total': 77,
   'player_name': 'Abhi Khatiwada',
   'rank': 3,
   'last_rank': 5,
   'rank_sort': 3,
   'total': 1721,
   'entry': 1495715,
   'entry_name': 'Yo Samjhine Man Xa'},
  {'id': 28074527,
   'event_total': 61,
   'player_name': 'Hac Ker',
   'rank': 4,
   'last_rank': 3,
   'rank_sort': 4,
   'total': 1720,
   'entry': 4494293,
   'entry_name': 'म बिर्सु कसोरी'},
  {'id': 863311,
   'event_total': 51,
   'player_name': 'Pratik Ghimire',
   'rank': 5,
   'last_rank': 4,
   'rank_sort': 5,
   'total': 1705,
   'entry': 180467,
   'entry_name': 'Captain Feralldes'},
  {'id': 9903578,
   'event_total': 43,
   'player_name': 'Shradaya Ramtel',
   'rank': 6,
   'last_rank': 6,
   'rank_sort': 6,
   'total': 1665,
   'entry': 1687067,
   'entry_name': 'FCB'},
  {'id': 1571901,
   'event_total': 25,
   'player_name': 'Upendra Khanal',
   'rank': 7,
   'last_rank': 7,
   'rank_sort': 7,
   'total': 1595,
   'entry': 320738,
   'entry_name': 'TNxRedDeviLs'},
  {'id': 7456330,
   'event_total': 38,
   'player_name': 'Abhishek Aryal',
   'rank': 8,
   'last_rank': 8,
   'rank_sort': 8,
   'total': 1576,
   'entry': 1375634,
   'entry_name': 'Hergu lama'},
  {'id': 945950,
   'event_total': 34,
   'player_name': 'Nischal Shrestha',
   'rank': 9,
   'last_rank': 9,
   'rank_sort': 9,
   'total': 1538,
   'entry': 196773,
   'entry_name': 'Toxic Squad'},
  {'id': 10416087,
   'event_total': 39,
   'player_name': 'Swatantra Manandhar',
   'rank': 10,
   'last_rank': 10,
   'rank_sort': 10,
   'total': 1344,
   'entry': 1866679,
   'entry_name': 'Mdhr_Chimse'},
  {'id': 17170974,
   'event_total': 37,
   'player_name': 'Bigya Karki',
   'rank': 11,
   'last_rank': 11,
   'rank_sort': 11,
   'total': 1284,
   'entry': 2943518,
   'entry_name': 'karki009cfc'},
  {'id': 15873836,
   'event_total': 21,
   'player_name': 'sweekrit dahal',
   'rank': 12,
   'last_rank': 12,
   'rank_sort': 12,
   'total': 1202,
   'entry': 2744269,
   'entry_name': 'Mylord333'}]}

In [21]:
response['standings'].keys()

dict_keys(['has_next', 'page', 'results'])

In [22]:
response['standings']['results']

[{'id': 2577854,
  'event_total': 48,
  'player_name': 'pramod wagle',
  'rank': 1,
  'last_rank': 1,
  'rank_sort': 1,
  'total': 1749,
  'entry': 514642,
  'entry_name': 'Aubameyang FC'},
 {'id': 19600580,
  'event_total': 40,
  'player_name': 'sandesh thapa',
  'rank': 2,
  'last_rank': 2,
  'rank_sort': 2,
  'total': 1739,
  'entry': 1875196,
  'entry_name': 'तिमी नै भनिदेउ'},
 {'id': 8161306,
  'event_total': 77,
  'player_name': 'Abhi Khatiwada',
  'rank': 3,
  'last_rank': 5,
  'rank_sort': 3,
  'total': 1721,
  'entry': 1495715,
  'entry_name': 'Yo Samjhine Man Xa'},
 {'id': 28074527,
  'event_total': 61,
  'player_name': 'Hac Ker',
  'rank': 4,
  'last_rank': 3,
  'rank_sort': 4,
  'total': 1720,
  'entry': 4494293,
  'entry_name': 'म बिर्सु कसोरी'},
 {'id': 863311,
  'event_total': 51,
  'player_name': 'Pratik Ghimire',
  'rank': 5,
  'last_rank': 4,
  'rank_sort': 5,
  'total': 1705,
  'entry': 180467,
  'entry_name': 'Captain Feralldes'},
 {'id': 9903578,
  'event_total': 43,
  'player_name': 'Shradaya Ramtel',
  'rank': 6,
  'last_rank': 6,
  'rank_sort': 6,
  'total': 1665,
  'entry': 1687067,
  'entry_name': 'FCB'},
 {'id': 1571901,
  'event_total': 25,
  'player_name': 'Upendra Khanal',
  'rank': 7,
  'last_rank': 7,
  'rank_sort': 7,
  'total': 1595,
  'entry': 320738,
  'entry_name': 'TNxRedDeviLs'},
 {'id': 7456330,
  'event_total': 38,
  'player_name': 'Abhishek Aryal',
  'rank': 8,
  'last_rank': 8,
  'rank_sort': 8,
  'total': 1576,
  'entry': 1375634,
  'entry_name': 'Hergu lama'},
 {'id': 945950,
  'event_total': 34,
  'player_name': 'Nischal Shrestha',
  'rank': 9,
  'last_rank': 9,
  'rank_sort': 9,
  'total': 1538,
  'entry': 196773,
  'entry_name': 'Toxic Squad'},
 {'id': 10416087,
  'event_total': 39,
  'player_name': 'Swatantra Manandhar',
  'rank': 10,
  'last_rank': 10,
  'rank_sort': 10,
  'total': 1344,
  'entry': 1866679,
  'entry_name': 'Mdhr_Chimse'},
 {'id': 17170974,
  'event_total': 37,
  'player_name': 'Bigya Karki',
  'rank': 11,
  'last_rank': 11,
  'rank_sort': 11,
  'total': 1284,
  'entry': 2943518,
  'entry_name': 'karki009cfc'},
 {'id': 15873836,
  'event_total': 21,
  'player_name': 'sweekrit dahal',
  'rank': 12,
  'last_rank': 12,
  'rank_sort': 12,
  'total': 1202,
  'entry': 2744269,
  'entry_name': 'Mylord333'}]

In [23]:
pd.DataFrame(response['standings']['results'])

,id,event_total,player_name,rank,last_rank,rank_sort,total,entry,entry_name
0,2577854,48,pramod wagle,1,1,1,1749,514642,Aubameyang FC
1,19600580,40,sandesh thapa,2,2,2,1739,1875196,तिमी नै भनिदेउ
2,8161306,77,Abhi Khatiwada,3,5,3,1721,1495715,Yo Samjhine Man Xa
3,28074527,61,Hac Ker,4,3,4,1720,4494293,म बिर्सु कसोरी
4,863311,51,Pratik Ghimire,5,4,5,1705,180467,Captain Feralldes
5,9903578,43,Shradaya Ramtel,6,6,6,1665,1687067,FCB
6,1571901,25,Upendra Khanal,7,7,7,1595,320738,TNxRedDeviLs
7,7456330,38,Abhishek Aryal,8,8,8,1576,1375634,Hergu lama
8,945950,34,Nischal Shrestha,9,9,9,1538,196773,Toxic Squad
9,10416087,39,Swatantra Manandhar,10,10,10,1344,1866679,Mdhr_Chimse
10,17170974,37,Bigya Karki,11,11,11,1284,2943518,karki009cfc
11,15873836,21,sweekrit dahal,12,12,12,1202,2744269,Mylord333

In [193]:
def return_league_teams(url):
    response=requests.get(url)
    response=json.loads(response.content)
    df=pd.DataFrame(response['standings']['results'])
    return df

In [27]:
return_league_teams(url)

,id,event_total,player_name,rank,last_rank,rank_sort,total,entry,entry_name
0,2577854,48,pramod wagle,1,1,1,1749,514642,Aubameyang FC
1,19600580,40,sandesh thapa,2,2,2,1739,1875196,तिमी नै भनिदेउ
2,8161306,77,Abhi Khatiwada,3,5,3,1721,1495715,Yo Samjhine Man Xa
3,28074527,61,Hac Ker,4,3,4,1720,4494293,म बिर्सु कसोरी
4,863311,51,Pratik Ghimire,5,4,5,1705,180467,Captain Feralldes
5,9903578,43,Shradaya Ramtel,6,6,6,1665,1687067,FCB
6,1571901,25,Upendra Khanal,7,7,7,1595,320738,TNxRedDeviLs
7,7456330,38,Abhishek Aryal,8,8,8,1576,1375634,Hergu lama
8,945950,34,Nischal Shrestha,9,9,9,1538,196773,Toxic Squad
9,10416087,39,Swatantra Manandhar,10,10,10,1344,1866679,Mdhr_Chimse
10,17170974,37,Bigya Karki,11,11,11,1284,2943518,karki009cfc
11,15873836,21,sweekrit dahal,12,12,12,1202,2744269,Mylord333

In [28]:
def currentgw():
    url = 'https://fantasy.premierleague.com/api/bootstrap-static/'
    response = requests.get(url)
    response = json.loads(response.content)
    for items in response['events']:
        if items['is_current']==True:
            gw=items['id']
    return gw

In [29]:
currentgw()

28

In [31]:
each_team='https://fantasy.premierleague.com/api/entry/'+'180467'+'/event/'+str(currentgw())+'/picks/'

In [33]:
response=requests.get(each_team).content

In [34]:
response

b'{"active_chip":null,"automatic_subs":[{"entry":180467,"element_in":542,"element_out":271,"event":28},{"entry":180467,"element_in":200,"element_out":272,"event":28}],"entry_history":{"event":28,"points":51,"total_points":1705,"rank":2023143,"rank_sort":2025828,"overall_rank":666490,"bank":8,"value":1076,"event_transfers":0,"event_transfers_cost":0,"points_on_bench":9},"picks":[{"element":12,"position":1,"multiplier":1,"is_captain":false,"is_vice_captain":false},{"element":109,"position":2,"multiplier":1,"is_captain":false,"is_vice_captain":false},{"element":277,"position":3,"multiplier":1,"is_captain":false,"is_vice_captain":false},{"element":62,"position":4,"multiplier":1,"is_captain":false,"is_vice_captain":false},{"element":542,"position":5,"multiplier":1,"is_captain":false,"is_vice_captain":false},{"element":200,"position":6,"multiplier":1,"is_captain":false,"is_vice_captain":false},{"element":302,"position":7,"multiplier":1,"is_captain":false,"is_vice_captain":true},{"element":390,"position":8,"multiplier":1,"is_captain":false,"is_vice_captain":false},{"element":202,"position":9,"multiplier":1,"is_captain":false,"is_vice_captain":false},{"element":514,"position":10,"multiplier":1,"is_captain":false,"is_vice_captain":false},{"element":388,"position":11,"multiplier":2,"is_captain":true,"is_vice_captain":false},{"element":548,"position":12,"multiplier":0,"is_captain":false,"is_vice_captain":false},{"element":271,"position":13,"multiplier":0,"is_captain":false,"is_vice_captain":false},{"element":272,"position":14,"multiplier":0,"is_captain":false,"is_vice_captain":false},{"element":301,"position":15,"multiplier":0,"is_captain":false,"is_vice_captain":false}]}'

In [36]:
response=json.loads(response)

In [38]:
response.keys()

dict_keys(['active_chip', 'automatic_subs', 'entry_history', 'picks'])

In [41]:
load_team=response['picks']

In [45]:
df=pd.DataFrame(load_team)

In [46]:
df

    element  position  multiplier  is_captain  is_vice_captain
0        12         1           1       False            False
1       109         2           1       False            False
2       277         3           1       False            False
3        62         4           1       False            False
4       542         5           1       False            False
5       200         6           1       False            False
6       302         7           1       False             True
7       390         8           1       False            False
8       202         9           1       False            False
9       514        10           1       False            False
10      388        11           2        True            False
11      548        12           0       False            False
12      271        13           0       False            False
13      272        14           0       False            False
14      301        15           0       False            False

In [53]:
cap_id=df[df['is_captain']==True].element.values[0]

In [54]:
vice_cap_id=df[df['is_vice_captain']==True].element.values[0]

In [57]:
player_url='https://fantasy.premierleague.com/api/bootstrap-static/'
player_df=pd.DataFrame((json.loads(requests.get(player_url).content))['elements'])

In [68]:
cap=player_df[player_df.id==cap_id].second_name.values[0]

In [69]:
vice_cap=player_df[player_df.id==vice_cap_id].second_name.values[0]

In [73]:
def cap_and_vice(id):
    each_team='https://fantasy.premierleague.com/api/entry/'+id+'/event/'+str(currentgw())+'/picks/'
    response=requests.get(each_team).content
    response=json.loads(response)
    load_team=response['picks']
    df=pd.DataFrame(load_team)
    cap_id=df[df['is_captain']==True].element.values[0]
    vice_cap_id=df[df['is_vice_captain']==True].element.values[0]
    player_url='https://fantasy.premierleague.com/api/bootstrap-static/'
    player_df=pd.DataFrame((json.loads(requests.get(player_url).content))['elements'])
    cap=player_df[player_df.id==cap_id].second_name.values[0]
    vice_cap=player_df[player_df.id==vice_cap_id].second_name.values[0]
    return cap,vice_cap

In [186]:
url

'https://fantasy.premierleague.com/api/leagues-classic/36072/standings/?page_new_entries=1&page_standings=1&phase=1'

In [74]:
cap_and_vice('180467')

('Kane', 'Borges Fernandes')

In [78]:
return_league_teams(url)

,id,event_total,player_name,rank,last_rank,rank_sort,total,entry,entry_name
0,2577854,48,pramod wagle,1,1,1,1749,514642,Aubameyang FC
1,19600580,40,sandesh thapa,2,2,2,1739,1875196,तिमी नै भनिदेउ
2,8161306,77,Abhi Khatiwada,3,5,3,1721,1495715,Yo Samjhine Man Xa
3,28074527,61,Hac Ker,4,3,4,1720,4494293,म बिर्सु कसोरी
4,863311,51,Pratik Ghimire,5,4,5,1705,180467,Captain Feralldes
5,9903578,43,Shradaya Ramtel,6,6,6,1665,1687067,FCB
6,1571901,25,Upendra Khanal,7,7,7,1595,320738,TNxRedDeviLs
7,7456330,38,Abhishek Aryal,8,8,8,1576,1375634,Hergu lama
8,945950,34,Nischal Shrestha,9,9,9,1538,196773,Toxic Squad
9,10416087,39,Swatantra Manandhar,10,10,10,1344,1866679,Mdhr_Chimse
10,17170974,37,Bigya Karki,11,11,11,1284,2943518,karki009cfc
11,15873836,21,sweekrit dahal,12,12,12,1202,2744269,Mylord333

In [79]:
main_df=return_league_teams(url)

In [84]:
main_df['captain']=np.nan
main_df['vice_captain']=np.nan

In [85]:
main_df

,id,event_total,player_name,rank,last_rank,rank_sort,total,entry,entry_name,captain,vice_captain
0,2577854,48,pramod wagle,1,1,1,1749,514642,Aubameyang FC,NaN,NaN
1,19600580,40,sandesh thapa,2,2,2,1739,1875196,तिमी नै भनिदेउ,NaN,NaN
2,8161306,77,Abhi Khatiwada,3,5,3,1721,1495715,Yo Samjhine Man Xa,NaN,NaN
3,28074527,61,Hac Ker,4,3,4,1720,4494293,म बिर्सु कसोरी,NaN,NaN
4,863311,51,Pratik Ghimire,5,4,5,1705,180467,Captain Feralldes,NaN,NaN
5,9903578,43,Shradaya Ramtel,6,6,6,1665,1687067,FCB,NaN,NaN
6,1571901,25,Upendra Khanal,7,7,7,1595,320738,TNxRedDeviLs,NaN,NaN
7,7456330,38,Abhishek Aryal,8,8,8,1576,1375634,Hergu lama,NaN,NaN
8,945950,34,Nischal Shrestha,9,9,9,1538,196773,Toxic Squad,NaN,NaN
9,10416087,39,Swatantra Manandhar,10,10,10,1344,1866679,Mdhr_Chimse,NaN,NaN
10,17170974,37,Bigya Karki,11,11,11,1284,2943518,karki009cfc,NaN,NaN
11,15873836,21,sweekrit dahal,12,12,12,1202,2744269,Mylord333,NaN,NaN

In [94]:
for i in range(0,len(main_df)):
    entry=main_df.loc[i,'entry']
    x,y=cap_and_vice(str(entry))
    print(x,y)
    main_df.loc[i,'captain']=x
    main_df.loc[i,'vice_captain']=y

Kane Son
Borges Fernandes Bale
Vardy Gündogan
Salah Borges Fernandes
Kane Borges Fernandes
De Bruyne Borges Fernandes
Borges Fernandes Bamford
De Bruyne Son
Borges Fernandes Salah
Grealish Borges Fernandes
Son Martínez
Salah Aubameyang

In [95]:
main_df

,id,event_total,player_name,rank,last_rank,rank_sort,total,entry,entry_name,captain,vice_captain
0,2577854,48,pramod wagle,1,1,1,1749,514642,Aubameyang FC,Kane,Son
1,19600580,40,sandesh thapa,2,2,2,1739,1875196,तिमी नै भनिदेउ,Borges Fernandes,Bale
2,8161306,77,Abhi Khatiwada,3,5,3,1721,1495715,Yo Samjhine Man Xa,Vardy,Gündogan
3,28074527,61,Hac Ker,4,3,4,1720,4494293,म बिर्सु कसोरी,Salah,Borges Fernandes
4,863311,51,Pratik Ghimire,5,4,5,1705,180467,Captain Feralldes,Kane,Borges Fernandes
5,9903578,43,Shradaya Ramtel,6,6,6,1665,1687067,FCB,De Bruyne,Borges Fernandes
6,1571901,25,Upendra Khanal,7,7,7,1595,320738,TNxRedDeviLs,Borges Fernandes,Bamford
7,7456330,38,Abhishek Aryal,8,8,8,1576,1375634,Hergu lama,De Bruyne,Son
8,945950,34,Nischal Shrestha,9,9,9,1538,196773,Toxic Squad,Borges Fernandes,Salah
9,10416087,39,Swatantra Manandhar,10,10,10,1344,1866679,Mdhr_Chimse,Grealish,Borges Fernandes
10,17170974,37,Bigya Karki,11,11,11,1284,2943518,karki009cfc,Son,Martínez
11,15873836,21,sweekrit dahal,12,12,12,1202,2744269,Mylord333,Salah,Aubameyang

In [97]:
first_player_cap=main_df.loc[0,'captain']
second_player_cap=main_df.loc[0,'vice_captain']

In [111]:
captain_picks=main_df.captain.values
vice_captain_picks=main_df.vice_captain.values
captain_picks=list(captain_picks)
vice_captain_picks=list(vice_captain_picks)

In [115]:
total_choosed=captain_picks+vice_captain_picks

In [117]:
total_choosed.count('Kane')

2

In [120]:
unique_players=list(set(total_choosed))

In [142]:
unique_players

['Vardy',
 'Bamford',
 'Borges Fernandes',
 'Salah',
 'Bale',
 'Son',
 'Gündogan',
 'Aubameyang',
 'Kane',
 'De Bruyne',
 'Martínez',
 'Grealish']

In [150]:
player_stats=pd.DataFrame(columns=['name','cap','vice','cap_per','vice_cap_per'])

In [151]:
player_stats

Empty DataFrame
Columns: [name, cap, vice, cap_per, vice_cap_per]
Index: []

In [152]:
for name in unique_players:
    i=len(player_stats)
    player_stats.loc[i,'name']=name
    player_stats.loc[i,'cap']=captain_picks.count(name)
    player_stats.loc[i,'vice']=vice_captain_picks.count(name)

In [153]:
player_stats

                name cap vice cap_per vice_cap_per
0              Vardy   1    0     NaN          NaN
1            Bamford   0    1     NaN          NaN
2   Borges Fernandes   3    4     NaN          NaN
3              Salah   2    1     NaN          NaN
4               Bale   0    1     NaN          NaN
5                Son   1    2     NaN          NaN
6           Gündogan   0    1     NaN          NaN
7         Aubameyang   0    1     NaN          NaN
8               Kane   2    0     NaN          NaN
9          De Bruyne   2    0     NaN          NaN
10          Martínez   0    1     NaN          NaN
11          Grealish   1    0     NaN          NaN

In [156]:
for i in range(0,len(player_stats)):
    player_stats.loc[i,'cap_per']=(int(player_stats.loc[i,'cap'])/len(player_stats))*100
    player_stats.loc[i,'vice_cap_per']=(int(player_stats.loc[i,'vice'])/len(player_stats))*100

In [157]:
player_stats

                name cap vice  cap_per vice_cap_per
0              Vardy   1    0  8.33333            0
1            Bamford   0    1        0      8.33333
2   Borges Fernandes   3    4       25      33.3333
3              Salah   2    1  16.6667      8.33333
4               Bale   0    1        0      8.33333
5                Son   1    2  8.33333      16.6667
6           Gündogan   0    1        0      8.33333
7         Aubameyang   0    1        0      8.33333
8               Kane   2    0  16.6667            0
9          De Bruyne   2    0  16.6667            0
10          Martínez   0    1        0      8.33333
11          Grealish   1    0  8.33333            0

In [173]:
pop_cap=player_stats[player_stats.cap==player_stats.cap.max()].sample(1).name.values[0]
vice_pop_cap=player_stats[player_stats.vice==player_stats.vice.max()].sample(1).name.values[0]

In [172]:
pop_cap

'Borges Fernandes'

In [179]:
vice_pop_cap

'Borges Fernandes'

In [177]:
pop_cap_per=player_stats[player_stats.name==pop_cap].cap_per.values[0]

In [178]:
pop_cap_per

25.0

In [180]:
vice_cap_per=player_stats[player_stats.name==vice_pop_cap].vice_cap_per.values[0]

In [181]:
vice_cap_per

33.33333333333333

In [182]:
dict_data={
    "players":[pop_cap,vice_pop_cap],
    "per":[pop_cap_per,vice_cap_per]
}

In [183]:
dict_data

{'players': ['Borges Fernandes', 'Borges Fernandes'],
 'per': [25.0, 33.33333333333333]}

In [185]:
pd.DataFrame(dict_data)

            players        per
0  Borges Fernandes  25.000000
1  Borges Fernandes  33.333333

In [191]:
def return_cap_vice_per(league_code:
    url='https://fantasy.premierleague.com/api/leagues-classic/'+str(league_code)+'/standings/'
    main_df=return_league_teams(url)
    main_df['captain']=np.nan
    main_df['vice_captain']=np.nan
    for i in range(0,len(main_df)):
        entry=main_df.loc[i,'entry']
        x,y=cap_and_vice(str(entry))
        main_df.loc[i,'captain']=x
        main_df.loc[i,'vice_captain']=y
    first_player_cap=main_df.loc[0,'captain']
    second_player_cap=main_df.loc[0,'vice_captain']
    captain_picks=main_df.captain.values
    vice_captain_picks=main_df.vice_captain.values
    captain_picks=list(captain_picks)
    vice_captain_picks=list(vice_captain_picks)
    total_choosed=captain_picks+vice_captain_picks
    unique_players=list(set(total_choosed))
    player_stats=pd.DataFrame(columns=['name','cap','vice','cap_per','vice_cap_per'])
    
    for name in unique_players:
        i=len(player_stats)
        player_stats.loc[i,'name']=name
        player_stats.loc[i,'cap']=captain_picks.count(name)
        player_stats.loc[i,'vice']=vice_captain_picks.count(name)
    for i in range(0,len(player_stats)):
        player_stats.loc[i,'cap_per']=(int(player_stats.loc[i,'cap'])/len(player_stats))*100
        player_stats.loc[i,'vice_cap_per']=(int(player_stats.loc[i,'vice'])/len(player_stats))*100
    
    
    pop_cap=player_stats[player_stats.cap==player_stats.cap.max()].sample(1).name.values[0]
    vice_pop_cap=player_stats[player_stats.vice==player_stats.vice.max()].sample(1).name.values[0]
    
    pop_cap_per=player_stats[player_stats.name==pop_cap].cap_per.values[0]
    vice_cap_per=player_stats[player_stats.name==vice_pop_cap].vice_cap_per.values[0]
    
    return pop_cap,vice_pop_cap,pop_cap_per,vice_cap_per

In [194]:
return_cap_vice_per(36072)

('Kane', 'Antonio', 30.76923076923077, 15.384615384615385)

In [196]:
def cap_vice_df(league_code):
    url='https://fantasy.premierleague.com/api/leagues-classic/'+str(league_code)+'/standings/'
    main_df=return_league_teams(url)
    main_df['captain']=np.nan
    main_df['vice_captain']=np.nan
    for i in range(0,len(main_df)):
        entry=main_df.loc[i,'entry']
        x,y=cap_and_vice(str(entry))
        main_df.loc[i,'captain']=x
        main_df.loc[i,'vice_captain']=y
    return main_df

In [198]:
df=cap_vice_df(36072)

In [199]:
df

,id,event_total,player_name,rank,last_rank,rank_sort,total,entry,entry_name,captain,vice_captain
0,2577854,0,pramod wagle,1,1,1,1749,514642,Aubameyang FC,Kane,Antonio
1,19600580,0,sandesh thapa,2,2,2,1739,1875196,तिमी नै भनिदेउ,Borges Fernandes,Bale
2,8161306,0,Abhi Khatiwada,3,3,3,1721,1495715,Yo Samjhine Man Xa,Kane,Antonio
3,28074527,0,Hac Ker,4,4,4,1720,4494293,म बिर्सु कसोरी,Salah,Borges Fernandes
4,863311,0,Pratik Ghimire,5,5,5,1705,180467,Captain Feralldes,Kane,Bale
5,9903578,0,Shradaya Ramtel,6,6,6,1665,1687067,FCB,Antonio,Cresswell
6,1571901,0,Upendra Khanal,7,7,7,1595,320738,TNxRedDeviLs,Borges Fernandes,Bamford
7,7456330,0,Abhishek Aryal,8,8,8,1576,1375634,Hergu lama,De Bruyne,Son
8,945950,0,Nischal Shrestha,9,9,9,1538,196773,Toxic Squad,Kane,Trossard
9,10416087,0,Swatantra Manandhar,10,10,10,1344,1866679,Mdhr_Chimse,Grealish,Borges Fernandes
10,17170974,0,Bigya Karki,11,11,11,1284,2943518,karki009cfc,Son,Martínez
11,15873836,0,sweekrit dahal,12,12,12,1202,2744269,Mylord333,Salah,Aubameyang

In [202]:
df=df[['entry_name','captain','vice_captain']]

In [203]:
df.columns=['Manager','Captain','Vice Captain']

In [204]:
df

               Manager           Captain      Vice Captain
0        Aubameyang FC              Kane           Antonio
1       तिमी नै भनिदेउ  Borges Fernandes              Bale
2   Yo Samjhine Man Xa              Kane           Antonio
3       म बिर्सु कसोरी             Salah  Borges Fernandes
4    Captain Feralldes              Kane              Bale
5                  FCB           Antonio         Cresswell
6         TNxRedDeviLs  Borges Fernandes           Bamford
7           Hergu lama         De Bruyne               Son
8          Toxic Squad              Kane          Trossard
9          Mdhr_Chimse          Grealish  Borges Fernandes
10         karki009cfc               Son          Martínez
11           Mylord333             Salah        Aubameyang

In [205]:
df=cap_vice_df(36077)

In [206]:
df

,id,event_total,player_name,rank,last_rank,rank_sort,total,entry,entry_name,captain,vice_captain
0,1739269,0,Madhav Adhikari,1,1,1,1792,353317,NEPONLINE TV,Dias Belloli,Dallas
1,22263930,0,Amer Lola,2,2,2,1756,3691101,AwayDays FC,Kane,Aubameyang
2,863425,0,Pratik Ghimire,3,3,3,1705,180467,Captain Feralldes,Kane,Bale
3,993235,0,Santosh Adhikari,4,4,4,1698,206399,3MB,Lingard,Aubameyang
4,13968411,0,Sabin Adhikari,5,5,5,1692,2464547,SAt0t1,Bale,Son
5,863430,0,FARID ALSAGOFF,6,6,6,1689,115759,WIGAN ATHLETIC,Meslier,Watkins
6,1902226,0,Saroj Wagle,7,7,7,1674,384719,Team2020Football,Kane,Aubameyang
7,6892282,0,Aashis Pandey,8,8,8,1673,1279152,Aashis Pandey,Kane,Saka
8,2500205,0,Pramesh Dahal,9,9,9,1673,499617,HITMAN-XI,Kane,Bale
9,4928666,0,Lalit Adhikari,10,10,10,1650,936907,LA Squad,Kane,Lacazette
10,13275135,0,Susan Chikanbanjar,11,11,11,1645,2353373,SchandBoY FC,Kane,Dallas
11,8784125,0,Binaya Poudel,12,12,12,1637,1597842,Kanxo's Mechanics,Vardy,De Bruyne
12,2276299,0,Ram Gurung,13,13,13,1636,456504,TheInvincibles,Kane,Salah
13,17152872,0,Pradip Sedhain,14,14,14,1599,2940585,F11,Kane,Borges Fernandes
14,8352213,0,Hikmat Adhikari,15,15,15,1303,1525826,HKSquad,Son,Grealish
15,48482943,0,prabhat koirala,16,16,16,1063,7471040,liverpool,Borges Fernandes,De Bruyne